

.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
}

/* We put the styles for the instances of the <Split> components used in App.js inside of App.css because App.js is where we are working with these instances. 
   We dont want to put these styles inside of Split.css because then they would be card-coded. That's like a tire manufacturing company that makes
   tires for different clients putting Goodyear directly in the mold even if they use that same mold for Michelin. That would destroy the reusability of that component.   */
.left {
    background-color: black;
    color: white;
}

.right {
    background-color: rgba(0, 128, 0, 0.459);
    color: orange;
}